@use 'fonts';
@use 'colors';

h2 {
    @include fonts.h2;
    color: colors.$blue;
}



body {
    min-width: 1600px;
    width: 100%;
    -ms-overflow-style: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}

header {
    background-image: url(/images/tu-tram-pham-202263.png), linear-gradient(90deg, #55B7FF, #7E5AFF);
    background-size: cover;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    width: 1170px;
    height: 54px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include fonts.nav-text;
    color: white;
    margin-top: 53px;
}

.logo {
    width: 241px;
    height: 54px;
}

ul {
    display: flex;
}

li {
    list-style: none;
}

.navigation-menu {
    width: 515px;
    justify-content: space-between;
}

.navigation-social {
    width: 160px;
    justify-content: space-between;
}

.section {
    width: 100%;
}

.section-line {
    width: 100px;
    height: 1px;
    color: colors.$blue;
    border-width: 0;
    background-color: colors.$blue;
}

.section-heading {
    text-align: center;
    margin-top: 30px;
}

.section-projects {
    margin-top: 100px;
}

.project-block {
    width: 1385px;
    height: 527px;
}