@use 'fonts';
@use 'colors';

h1 {
    @include fonts.h1;
    color: white;
    margin: 0;
}

h2 {
    @include fonts.h2;
    margin: 0;
}

.text--blue {
    color: colors.$blue;
}

.text--white {
    color:white;
}

h4 {
    @include fonts.h4;
    font-weight: normal;
    margin: 0;
}

h5 {
    @include fonts.h5;
    font-weight: normal;
    margin: 0;
}

.text {
    @include fonts.p;
    margin: 0;
}

p {
    margin: 0;
}

.text--small {
    font-size: 15px;
}

.text--italic {
    font-style: italic;
}

main {
    width: 100%;
}

.header {
    background-image: url(/images/tu-tram-pham-202263.png), -webkit-gradient(linear, left top, right top, from(#55B7FF), to(#7E5AFF));
    background-image: url(/images/tu-tram-pham-202263.png), -o-linear-gradient(left, colors.$gradient2);
    background-image: url(/images/tu-tram-pham-202263.png), linear-gradient(90deg, colors.$gradient2);
    height: 100%;
    max-height: 800px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}

.navigation {
    max-width: 1170px;
    width: 100%;
    height: 54px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include fonts.nav-text;
    color: white;
    margin-top: 53px;
}

.logo {
    height: 54px;
}

ul {
    display: flex;
    padding: 0;
}

li {
    list-style: none;
}

.menu {
    max-width: 515px;
    width: 100%;
    justify-content: space-between;
    margin-left: 20px;
}

.menu__item {
    color: white;
    height: 9px;
}

.menu__item a:link, a:visited {
    text-decoration: none;
    color: white;
    
}

.menu__item a:hover, a:active {
    text-decoration: none;
    color: colors.$blue;
    > .dot {
        content: url(/images/circle-solid-edit.svg);
    }
}

.menu-social {
    max-width: 160px;
    width: 100%;
    justify-content: space-between;
    margin-right: 0;
}

.menu-social a:link, a:visited {
    text-decoration: none;
    color: white;
}

.menu-social a:hover, a:active {
    text-decoration: none;
    color: colors.$blue;
}

.dot {
    height: 9px;
    margin-right: 14px;
}

.header-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 690px;
    position: relative;
    margin-bottom: 50px;
}

.header-slider {
    max-width: 917px;
    width: 100%;
    height: 380px;
    margin-bottom: 0;
    position: static;
}

.slider-content {
    text-align: center;
    color: white;
}

.slider-content h1 {
    margin-bottom: 20px;
    letter-spacing: 0.09em;
}

.slider-content h5 {
    letter-spacing: 0.3em;
}

.header-slider {
    > .slick-dots {
        display: flex;
        flex-wrap: wrap;
        height: 210px;
        width: 10px;
        bottom: 250px;
        right: 40px;
    }
}

.slick-dots li.slick-active button:before {
    content: url(/images/circle-solid.svg);
}

.slick-dots li button:before {
    content: url(/images/circle-regular.svg);
    width: 10px;
    height: 10px;
}

.slick-dotted.slick-slider {
    margin-bottom: 0;
}

.header-bottom {
    font-size: 40px;
    height: 40px;
}

.header-arrow {
    width: 40px;
    transform: rotate(90deg);
}

.header-arrow:hover {
    width: 50px;
}

section {
    width: 100%;
}

.section__line {
    width: 100px;
    height: 1px;
    color: colors.$blue;
    border-width: 0;
    background-color: colors.$blue;
}

.section-heading {
    text-align: center;
    margin-top: 30px;
}

.section-projects {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    position: relative;
}

.project-block {
    height: 470px;
    width: 100%;
}

.project-block-left {
    margin-top: 146px;
    justify-content: center;
}

.project-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    width: 100%;
}

.project-container__content {
    max-width: 1172px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    z-index: 1000;
}

.button--projects {
    margin: 28px 0 60px 0;
}

.button--projects__one:hover {
    background-color: colors.$brightBlue;
    color: white;
}

.button--projects__two:hover {
    background-color: colors.$purple;
    color: white;
}


.project__text {
    margin-left: 70px;
    margin-bottom: 17px;
}

.project__text__one {
    width: 470px;
    height: 351px;
}

.project__text__two {
    margin-left: 0;
    margin-right: 64px;
    width: 476px;
    height: 351px;
}

.project__p { 
    line-height: 30px;
}


.project__heading {
    margin-bottom: 19px;
}

.project-marker {
    margin-right: 10px;
}

.project-rectangle {
    width: 585px;
    height: 470px;
    position: absolute;
    
}

.project__image {
    height: 100%;
}

.project-rectangle-one {
    background-color: colors.$brightBlue;
    top: 175px;
    left: 0;
}

.project-rectangle-two {
    background-color: colors.$purple;
    right: 0;
    bottom: 200px;
}

.project-content-right {
    flex-direction: row-reverse;
}

.project-block-right {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 140px;
    margin-top: 197px;
}

.section-news {
    min-height: 1035px;
    max-height: 1200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(/images/city.png), -webkit-gradient(linear, left top, right top, from(#3C7FD4), to(#24CCFA));
    background-image: url(/images/city.png), -o-linear-gradient(left, colors.$gradient1);
    background-image: url(/images/city.png), linear-gradient(90deg, colors.$gradient1);    background-repeat: no-repeat;
    background-position: bottom;
    position: relative;
}

.news-slider-container {
    display: flex;
    justify-content: center;
    max-width: 1200px;
    width: 100%;
    max-height: 600px;
    height: 100%;
    margin-top: 89px;
}

.news-slider {
    width: 100%;
    height: 100%;
    position: static;
}

.news-card {
    width: 100%;
    height: 100%;
    height: 514px;
    background-color: white;
    margin-right: 15px;
    margin-left: 15px;
}

.news-card-content {
    margin: 30px 20px;
}

.news__image {
    width: 100%;
}

.news-card__header {
    font-weight: bold;
    color: colors.$blue;
    margin-bottom: 15px;
}

.news-card__text {
    color: colors.$blue;
    margin-bottom: 39px;
}

.news-author {
    display: flex;
    height: 60px;
}

.news-author__text {
    display: flex;
    flex-direction: column;
    color: colors.$blue;
    justify-content: center;
}

.news-author__text {
    font-family: fonts.$font-family-montserrat;
    margin: 0 0 0 20px;
}

.news-author__date {
    font-size: 14px;
    color: #55B7FF;
    margin: 6px 0 0 0;
}

.news-author__img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.slick-prev, .slick-next {
    top: 60%;
}

.slick-next {
    right: 5%;
    width: 40px;
    
}

.slick-prev {
    left: 5%;
    width: 40px; 
    transform: rotate(180deg);

}

.slick-next:before {
    content: url(/images/multimedia-option.svg);
}

.slick-prev:before {
    content: url(/images/multimedia-option.svg);
}

.news-slider {
    > .slick-dots {
        bottom: 75px;
        left: 50%;
        margin-left: -105px;
        width: 210px;
    }
}

.section-gallery {
    min-height: 1000px;
    max-height: 1200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gallery-grid {
    margin-top: 89px;
    margin-bottom: 60px;
    max-width: 1170px;
    width: 100%;
    display: grid;
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    grid-gap: 5px;
}

.gallery-grid__item1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 /3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / 3;
}

.gallery-grid__item2 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 /4;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
}

.gallery-grid__item3 {
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4 /5;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
}

.gallery-grid__item4 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 /4;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
}

.gallery-grid__item5 {
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4 /5;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
}

.gallery__image:hover {
    opacity: 0.5;
}

.image--container {
    max-width: 580px;
    width: 100%;
    position: relative;
}

.icon--globe {
    width: 70px;
    height: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -35px;
    margin-left: -35px;
}

.icon--globe:hover {
    background-color: black;
    opacity: 0.5;
    border: none;
    border-radius: 50%;
}

.button--large {
    width: 190px;
    height: 50px;
    background-color: white;
    font-family: fonts.$font-family-montserrat;
    font-size: 14px;
    border: 1px solid colors.$blue;
}

.button--gallery:hover {
    background-color: colors.$brightBlue;
    color: white;
}

.contact__map {
    width: 100%;
}

#map {
    height: 700px;
}

.footer {
    width: 100%;
    height: 549px;
    background-image: url(/images/footerbg.png), -webkit-gradient(linear, left top, right top, from(colors.$brightBlue), to(colors.$purple));
    background-image: url(/images/footerbg.png), -o-linear-gradient(left, colors.$gradient2);
    background-image: url(/images/footerbg.png), linear-gradient(90deg, colors.$gradient2);    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content {
    width: 770px;
    height: 112px;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

.footer-row1 {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-social {
    display: flex;
    color: white;
    margin-top: 6px;
}

.footer-row2 {
    align-self: flex-end;
}

.footer-row2 p {
    font-family: fonts.$font-family-montserrat;
    font-size: 14px;
    color: white;
}

.section-contact {
    position: relative;
}

.contact-block {
    width: 770px;
    height: 450px;
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: white;
    top: 400px;
    left: 50%;
    margin-left: -385px;
}

.contact-block .section__line{
    margin-top: 60px;
}

.contact-block__content {
    display: flex;
    margin-top: 42px;
}

.contact__address {
    width: 290px;
    height: 196px;
    margin-left: 60px;
    margin-right: 54px;
}

.contact__address__text {
    line-height: 28px;
}

.contact__icon {
    color: colors.$purple;
    font-size: 14px;
    margin-right: 6px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 310px;
}

.form input {
    width: 100%;
    font-size: 18px;
    padding-bottom: 23px;
    font-family: fonts.$font-family-montserrat;
    border: none;
    border-bottom: 1px solid colors.$blue;
    outline: none;
}

.form input:focus {
    border: 1px solid colors.$blue;
}

.form input:valid {
    border: 1px solid colors.$blue;
}

.form-span {
    height: 20px;
}

.email {
    margin-top: 20px;
}

.form--thanks {
    width: 230px;
    height: 170px;
    padding: 20px;
    display: none;
    font-family: fonts.$font-family-montserrat;
    font-size: 18px;
    color: #55B7FF;
    border: 1px solid colors.$blue;;
}


.button--small {
    width: 140px;
    height: 50px;
    background-color: white;
    font-family: fonts.$font-family-montserrat;
    font-size: 18px;
    border: 1px solid colors.$blue;
    align-self: flex-end;
}

.button__submit:hover {
    background-color: colors.$blue;
    color: white;
}


@media only screen and (max-width: 1200px) {
    .gallery-grid {
        margin-top: 89px;
        margin-bottom: 60px;
        max-width: 580px;
        width: 100%;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-gap: 5px;
    }
    
    .gallery-grid__item1 {
        grid-column: 1 /3;
        grid-row: 1 / 3;
    }
    
    .gallery-grid__item2 {
        grid-column: 1 /2;
        grid-row: 3 /4;
    }
    
    .gallery-grid__item3 {
        grid-column: 2 /3;
        grid-row: 3 / 4;
    }
    
    .gallery-grid__item4 {
        grid-column: 1 / 2;
        grid-row: 4 / 5;
    }
    
    .gallery-grid__item5 {
        grid-column: 2 / 3;
        grid-row: 4 / 5;
    }
  }