h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 80px;
  font-weight: 700;
  color: white;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 44px;
  font-weight: 700;
  margin: 0;
}

h2.blue {
  color: #2C4058;
}

h2.white {
  color: white;
}

h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: normal;
}

h5 {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: normal;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}

p.small-italic {
  font-size: 15px;
  font-style: italic;
}

body {
  min-width: 1600px;
  width: 100%;
  -ms-overflow-style: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

header {
  background-image: url(/images/tu-tram-pham-202263.png), linear-gradient(90deg, #55B7FF, #7E5AFF);
  background-size: cover;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

nav {
  width: 1170px;
  height: 54px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  color: white;
  margin-top: 53px;
}

.logo {
  width: 241px;
  height: 54px;
}

ul {
  display: flex;
}

li {
  list-style: none;
}

.navigation-menu {
  width: 515px;
  justify-content: space-between;
}

.navigation-social {
  width: 160px;
  justify-content: space-between;
}

.header-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 50px;
}

.header-slider {
  width: 917px;
  height: 380px;
}

.slider-content {
  text-align: center;
  color: white;
}

.slick-dots {
  display: flex;
  flex-wrap: wrap;
  height: 210px;
  width: 10px;
  top: 0;
  right: -300px;
}

.header-bottom {
  font-size: 40px;
  height: 40px;
}

.header-arrow {
  color: white;
}

.section {
  width: 100%;
}

.section-line {
  width: 100px;
  height: 1px;
  color: #2C4058;
  border-width: 0;
  background-color: #2C4058;
}

.section-heading {
  text-align: center;
  margin-top: 30px;
}

.section-projects {
  margin-top: 100px;
}

.project-block {
  width: 1385px;
  height: 527px;
  position: relative;
  margin-bottom: 140px;
}

.project-content-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 100%;
}

.project-content {
  width: 1172px;
  height: 470px;
  display: flex;
  align-items: flex-end;
  z-index: 1000;
}

.project-text {
  margin-left: 70px;
  margin-bottom: 25px;
}

.project-rectangle {
  width: 585px;
  height: 470px;
  position: absolute;
}

.project-rectangle-one {
  background-color: #55B7FF;
  top: 0;
}

.project-rectangle-two {
  background-color: #7E5AFF;
  right: -215px;
  top: 0;
}

.project-content-right {
  flex-direction: row-reverse;
}

.project-block-right {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.section-news {
  height: 1035px;
  background-image: url(/images/city.png), linear-gradient(90deg, #3C7FD4, #24CCFA);
  background-repeat: no-repeat;
  background-position: bottom;
  padding-top: 135px;
}

.news-slider-container {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 89px;
}

.news-slider {
  width: 1173px;
}

.news-card {
  width: 370px;
  height: 514px;
  background-color: white;
  margin-right: 30px;
}

.news-card-content {
  margin: 30px 20px;
}

.news-image {
  width: 100%;
}

.news-card-content h4 {
  font-weight: bold;
  color: #2C4058;
}

.news-card-content p {
  color: #2C4058;
}

.news-author {
  display: flex;
}

.news-author-text {
  display: flex;
  flex-direction: column;
  color: #2C4058;
  height: 60px;
  justify-content: center;
}

.news-author-text p {
  font-family: "Montserrat", sans-serif;
  margin: 0 0 6px 20px;
}

.news-author-text .text-small {
  font-size: 14px;
}

.author-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.section-gallery {
  padding-top: 140px;
  padding-bottom: 139px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery-grid-container {
  margin-top: 89px;
  margin-bottom: 60px;
  width: 1170px;
  height: 440px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-gap: 5px;
}

.gallery-grid-item1 {
  grid-column: 1/3;
  grid-row: 1/3;
}

.gallery-grid-item2 {
  grid-column: 3/4;
  grid-row: 1/2;
}

.gallery-grid-item3 {
  grid-column: 4/5;
  grid-row: 1/2;
}

.gallery-grid-item4 {
  grid-column: 3/4;
  grid-row: 2/3;
}

.gallery-grid-item5 {
  grid-column: 4/5;
  grid-row: 2/3;
}

.button-large {
  width: 190px;
  height: 50px;
  background-color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  border: 1px solid #2C4058;
}

/*# sourceMappingURL=index.css.map */
